<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<p class="question">Votre question était : <%= @question %> </p>

<p class="reponse">La réponse de votre sympathique coash est : <%= @answer %> </p>

<%= link_to "Try again", ask_path %>
